{% extends "layout_front.html.twig" %}

{% block title %}Competences{% endblock %}

{% block content %}
  <h1>Competence</h1>
  {% for competence in competences %}
    <article class="row col-md-10 col-md-offset-1">
        <h2><a class="articleTitle" href="{{ path('competence_single', { 'id': competence.id }) }}">{{ competence.title }}</a></h2>
        <p>{{ competence.content }}</p>
    </article>
  {% endfor %}
{% endblock %}
